@media only screen and (max-width: 375px){
    .divUno{
        font-size: x-small;
    }
    .divDos{
        font-size: xx-small;
    }
    .navDos{
        display:block;
    }
    .navDos > .respon{
        display: block;
    }
    .navDos > .responTwo{
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .navDos{
        display:block;
    }   
}
    