body{
    background-color: #EDEDEE;
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size:smaller;
    
}
main{
    margin: auto;
    width: 80%;
    height: 40rem;
}
.uno{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 25rem;
}
.uno > img{
    width: 100%;
    height:9rem;
}
.uno > h2{
    color: #333333;
    margin-bottom: 0;
    text-align: center;
}
.uno > h4{
    color: #333333;
    text-align:justify;
    line-height: 1.3rem;
}
.uno > input {
    border: .2rem solid #E6621F;
    background-color: transparent;
    margin: auto;
    height: 2rem;
    width: 30%;
}
.divUno{
    color: #333333;
    text-align: center;
    height: 2rem;
}
.divDos{
    color: #333333;
    text-align: center;
    font-size: smaller;
}
.divDos > h3{
    color:#E6621F;
}
main > nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5rem;
}
.navDos{
    width: 100%;
    display: flex;
    height: 25rem;
    flex-direction:row;
    justify-content:center;
    gap: 3rem;
    align-items: center;
}
.uno:hover{
    border: .2rem solid #E6621F;
}

.dos{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 25rem;
}
.dos > img{
    width: 100%;
    height:9rem;
}
.dos > h2{
    margin-bottom: 0;
    text-align: center;
}
.dos > h4{
    text-align:justify;
    line-height: 1.3rem;
}
.dos > input {
    border: .2rem solid #E6621F;
    background-color: transparent;
    margin: auto;
    height: 2rem;
    width: 30%;
}
.tres{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 25rem;
}
.tres > img{
    width: 100%;
    height:9rem;
}
.tres > h2{
    margin-bottom: 0;
    text-align: center;
}
.tres > h4{
    text-align:justify;
    line-height: 1.3rem;
}
.tres > input {
    border: .2rem solid #E6621F;
    background-color: transparent;
    margin: auto;
    height: 2rem;
    width: 30%;
}
input:hover{
    background-color: #E6621F;
}

.navDos > .respon{
    display: flex;
    width: 100%;
    gap: 3rem;
}
.respon > .Rone{
    width: 100%;
}
.respon > .dos{
    width: 100%;
}
.navDos > .responTwo{
    width: 100%;
    display: flex;
    gap: 3rem;
}
.responTwo > .tres{
    width: 100%;
}
.responTwo > .uno{
    width: 100%;
}
